test/
samples/
results/
html/

*.ipynb
*.rds
*.html

*.fq
*.fastq
*.sif

Glioma_IGH/SC_RNAseq/Analysis/Scripts/All_genes/*.R
Glioma_IGH/SC_RNAseq/Analysis/Scripts/Metabo_genes/*.R
Glioma_IGH/SC_RNAseq/Analysis/Scripts/Per_sample/*.R
